DB_URL=jdbc:mysql://localhost:3306/taskmanager_db
DB_USER=seu_usuario_mysql
DB_PASSWORD=sua_senha_mysql


TEST_DB_URL=jdbc:mysql://localhost:3306/taskmanager_test_db
TEST_DB_USER=seu_usuario_mysql
TEST_DB_PASSWORD=sua_senha_mysql


